.container {
  width: 450px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.card {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card * {
  transition: all 0.3s ease;
}

.card-loader {
  display: none;
}

.card-badge {
  position: absolute;
  inset: 5px 5px 0 auto;
  font-family: 'Open Sans', sans-serif;
  border-radius: 50%;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
  background: rgb(249, 100, 0);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.card-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  margin-top: 1rem;
}

.mix-container {
  display: flex;
  justify-content: flex-end;
}

.mix {
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  padding: 5px;
}

.mix:hover {
  background: #f1f1f1;
}

.mix img {
  width: 30px;
  border-radius: 4px;
}

.author {
  margin-top: 15px;
}

.author a {
  text-decoration: none;
  color: rgb(19, 22, 183);
}
